<link rel="import" href="https://polygit.org/components/polymer/polymer-element.html">

<dom-module id="basic-component">

  <template>
    <style>
      :host{
        display: block;
        margin: 15px;
        background-color:coral;
        font-family:monospace;
        font-size: 1.5rem;
      }
      p{
        padding: 15px;
        text-align: center;
      }
      img{
        width: 50px;
      }
    </style>

    <p>
      <img src="polymer.png" alt="">
      I'am a polymer component :)!
    </p>
  </template>

  <script>
    class BasicComponent extends Polymer.Element{
      static get is(){
        return 'basic-component';
      }
    }

    window.customElements.define(BasicComponent.is, BasicComponent);
  </script>

</dom-module>